body {
    font-family:'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    
}

header, footer{
    background-color: #333;
    color: #fff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: #333;
}

section {
    padding: 1rem;
    background-color: #f4f4f4;
    border: 2px solid #333;
}